<h2><%= @restaurant.name %></h2> <br/>
<p><%= @restaurant.description %></p>

<% if logged_in? %>
<h4>Write your own review of <%= @restaurant.name%></h4> <br/>
<%= form_for @review do |f| %>

    <%= f.label :rating%>
    <%= f.text_field :rating %> <br/>
   
    <%= f.label :description%>
    <%= f.text_field :description%> <br/>

    <%= f.hidden_field :user_id, :value => session[:user_id] %> <br/>
    <%= f.hidden_field :restaurant_id, :value => @restaurant.id %> <br/>

    <%= f.submit %>

<% end %>
<% end %>