<h1> Create new category</h1>

<%= form_for @category do |f| %>
    <% if @category.errors.any? %>
        <%=pluralize(@category.errors.count, "error")%>
           <p>prevented this category from being saved: </p>
            <% @category.errors.full_messages.each do |msg|%>
             <%= msg %>
            <%end %>
    <% end %>
    <%= f.label :name %>
    <%= f.text_field :name %> </br>

    <%= f.label :Restaurant %>
    <%= f.collection_select :restaurant_id, @user.restaurants, :id, :name, include_blank: false %>

    <%= f.hidden_field :user_id, :value => @user.id %>

    <%= f.submit :create %>

<% end %>