<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantReiewsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <header class="site-header">
    <ul>
    <% if !session[:user_id]%>
    <li>
    <%= link_to('Log in', '/login') %>
    </li> 
    <li>
    <%= link_to('Signup', '/signup') %>
    </li>
    <% end %>
    <li>
    <%= link_to('Restaurants', '/restaurants') %>
    </li>
    <% if session[:user_id] %>
    <li>
    <%= link_to('My account', user_path(current_user.id)) %>
    </li>
    <li>
    <%= link_to('Logout', '/logout') %>
    </li>
    <% end %>
    </ul>
  </header> 
  <br/>
    <%= yield %>
  </body>
</html>
